body {
    background-color: #C89D52;
    color: #222222;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    background-color: #4E3629;
    color: white;
    text-align: center ;
    padding: 30xp;
}

h1 {
    font-size: 40px;
}

h2 {
    color: #2B2523;
}

p {
    font-size: 22px;
    line-height: 1.6;
}